.section {
  background-color: #ded8d1;
  margin: 15px auto 0 auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  font-family: 'Lora', serif; /* Lora för texten under rubrikerna */
}

.content {
  display: none;
  margin-top: 10px;
  text-align: center;
  font-family: 'Lora', serif; /* Lora även här */
  font-weight: 400; /* lättare vikt, bättre läsbarhet */
  line-height: 1.6; 
}

.section p {
  margin-bottom: 1.5em; 
  line-height: 1.6; 
}
