* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 100;
  background-color: #ded8d1; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.icon {
  width: 100px;
}

.side-gif {
  max-width: 300px;
}

.audio-player {
  text-align: center;
  margin-bottom: 20px;
}

.audio-player audio {
  width: 100%;
  max-width: 350px;
}

.nav-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.section {
  background-color: #ded8d1; 
  margin: 0 auto 15px auto; 
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 850px;
  text-align: center;
  font-family: 'Lora', serif; 
}

.nav-headings h2 {
  font-family: 'Playwrite MX Guides', sans-serif;
  color: #3b3844;
  font-size: 3rem;
  font-weight: 400;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease;
}


.content {
  display: none;
  margin-top: 20px;
  text-align: left;
  font-family: 'Lora', serif; 
  font-weight: 400;
  line-height: 1.6;
}

.section p {
  margin-bottom: 1.5em;
  line-height: 1.6;
}


a {
  color: #2e7749;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

footer {
  font-family: 'Lora', serif;
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
  color: #598461;
  margin-top: auto;
  padding: 20px;
  background-color: #ded8d1;
}



@media (max-width: 600px) {


  .section {
    padding: 15px;
  }

  .nav-headings h2 {
    font-size: 1.5rem;
    padding: 8px 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.55;
  }

  .content {
    padding: 0 5px;
  }

  .side-gif {
    max-width: 100px;
  }

  img {
    margin: 15px auto;
    max-width: 100%;
  }

  a {
    display: inline-block;
    margin-top: 5px;
    word-break: break-w

